body{
    background-color: #eeeeee;
}

.card{
    display: flex;
align-content: flex-end;
background-color: rgb(252, 251, 250);
width: 1000px;
margin: auto;
padding: 20px;
margin-top: 20px;
border-radius: 10px;
font-weight: 300;
  }
  
h1{
    text-align: center;
    font-family: Rubik,sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(1, 1, 10);
    font-weight: bold;
    margin-bottom: 20px;
}

.lp{
margin-left: 20px;
}

h3{
    font-size: 15px;
}

.mov{
margin-top: 0;
}

li{
    list-style-position: inside;
    line-height: 35px;
}

.titulo-receita{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
}

img{
border-radius: 10px;

}

h4{
color: #11527e;
margin-top: 0;
margin-left: -8px;
}

.avaliacao{
display: flex;
align-items:center;
}
.star-icon{
list-style-type: none;
cursor: pointer;
color: #ffe500;
margin: 0 5px;

}
      
.star-icon::before{
content: "\2605"
}
.star-icon.ativo ~ .star-icon::before{
content: "\2606";
}
.avaliacao:hover .star-icon::before{
content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
content: "\2606";
}
      
.op{
    margin-left: 10px;
    margin-right: 20px;
}

.hd{
margin-left: 20px;
}

.id .jd{
    border-left: 2px solid #ff7875;
    padding-left: 10px;
    
}

.id .jd .kd{
    align-items: center;
    color: #11527e;
    display: flex;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    gap: 1.5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    
}

p{
    color: black;
}

.recipe_button{
    align-items: center;
    background-color: #b6dc85;
    border: none;
    border-radius: 5px;
    color: #363840;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 700;
    height: 40px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

.recipe_button:hover{
    background-color: #363840;
    color: white;
}

.button_label{
    font-size: 15px;
}

.gz{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.hz{
    color: #11527e;
    font-family: Rubik, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 20px;
    position: relative;
}