<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/buscarchef.css">
    <script src="js/funcoes.js"></script>
    <!-- <script>verificarAutenticacao();</script> -->
    <title>Buscando por Chefes</title>
</head>

<body>
    <div id="container">
        <div id="top-bar"></div>

        <div id="content">
           
            <section class="chefs" id="chefs">
                <div class="heading">
                    <p>Chefes do Senac</p>
                    <h2>Conheça nossos Chefes</h2>
                </div>
                <div class="table-wrapper">
                    <div class="chefs-container">
                         
                    </div>
                </div>
            </section>
             

        </div>
    </div>
    </div>


    </div>

    <div id="bottom-bar"></div>
    </div>

    <script>
        topBar();
        botaoResponsivo();
        bottomBar();
        verificarAutenticacaoOffline();
        buscarChefes();
    </script>

    <!-- <script src="js/script-ours-pages.js"></script> -->
</body>

</html>