<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/cadastro-receita.css">
    <script src="js/funcoes.js"></script>
    <title>Cadastro de Receitas</title>
</head>

<body>
    <div id="container">
        <div id="top-bar"></div>
        <div id="content">
            <div class="box">
                <div class="form-box">
                    <div id="cadastro">
                        <h1><br>Cadastrar Receita</h1>
                    </div>

                    <form id="receitaForm" enctype="multipart/form-data">

                        <div id="quadrado1">

                            <div class="input-group">
                                <label class="picture" for="picture__input" tabIndex="0">
                                    <span class="picture__image"></span>
                                </label>

                                <input type="file" name="imagem" id="picture__input">
                            </div> <br><br>

                            <div class="input-group">
                                <label for="Titulo"> Título:</label>
                                <input type="text" id="titulo" name="Titulo" placeholder="Digite o título" required>
                            </div>
                            <br><br>
                            <div class="input-group">
                                <label for="tempo">Tempo de Preparo (minutos):</label>
                                <input type="number" id="tempo" name="tempo" placeholder="Digite o tempo de preparo">
                            </div>

                            <br><br>
                            <div class="input-group">
                                <label for="porcoes">Numero de porções:</label>
                                <input type="number" id="porcoes" name="porcoes"
                                    placeholder="Digite o numero de porções">
                            </div>
                            <br><br>
                            <div class="input-group">
                                <label for="descricao">Descrição:</label>
                                <textarea id="descricao" name="descricao"
                                    placeholder="Digite uma descrição para sua receita" required></textarea>
                            </div>
                            <br><br>




                            <!-- <div id="quadIngre"> -->
                            <div class="input-group">
                                <label for="ingredientes">Ingredientes: &nbsp;</label>
                                <textarea id="ingredientes" name="ingredientes" placeholder="Digite os ingredientes"
                                    required></textarea>
                            </div> <br><br>
                            <!-- </div> -->

                            <!-- <div id="modoDePreparo"> -->
                            <div class="input-group">
                                <label for="modoDePreparo">Modo de Preparo:</label>
                                <textarea id="modoDePreparo" name="modoDePreparo"
                                    placeholder="Ex.: bata todos os ingredientes..." required></textarea>
                            </div> <br><br>
                            <!-- </div> -->

                            <div class="catnome"><label for="categorias"> Categorias:</label></div>

                            <div id="categoria" class="input-group">


                                <div id="nomesCat">
                
                                </div>

                            </div>




                            <!-- <textarea id="categorias" name="categorias" placeholder="Digite as categorias"
                                    required></textarea> -->

                        </div>






                        <div class="input-group w50">

                            <button type="button" class="btn-login" onclick="enviarFormularioReceita()">Cadastrar
                                Receita</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div id="bottom-bar"></div>
    </div>

    <!-- <script>
        enviarFormularioReceita()
    </script> -->
    <script>
        topBar();
        botaoResponsivo();
        bottomBar();
        verificarAutenticacao();
        categorias()
        carregarImagem();

    </script>

    <!-- <script src="../src/js/script-ours-pages.js"></script> -->
</body>

</html>