<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/default.css" />
  <link rel="stylesheet" href="css/cadastro.css" />
  <script src="js/funcoes.js"></script>
  <title>Formulário de cadastro de usuario</title>
</head>

<body>
  <div id="container">
    <div id="top-bar"></div>
    <div id="content">
      <div class="box">
        <div class="img-box">
          <img alt="logo" src="media/1200px-Senac_logo.svg.png" />
        </div>
        <div class="form-box">
          <h2>Criar Conta</h2>
          <p>
            Já possui cadastro?
            <a href="Login"> Login </a>
          </p>
          <form id="cadastroForm" enctype="multipart/form-data" method="post">
            <div class="input-group">
              <label for="nome"> Nome Completo</label>
              <input type="text" id="nome" name="Nome" placeholder="Digite o seu nome completo" required />
            </div>

            <div class="input-group">
              <label for="email">E-mail</label>
              <input type="email" id="email" name="email" placeholder="Digite o seu email" required />
            </div>

            <div class="input-group">
              <label for="idade">Idade</label>
              <input type="number" id="idade" name="idade" placeholder="Digite a sua idade" required />
            </div>

            <div class="input-group position-relative">
              <label for="senha">Senha</label>
              <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required />
              <span class="password-toggle" onclick="togglePassword()">
                <img id="eyeIcon" src="media/closed-eyes.png" alt="Toggle Password Visibility" />
              </span>
            </div>

            <div class="input-group position-relative">
              <label for="confirmarSenha">Confirmar Senha</label>
              <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="Confirme sua senha"
                required />
              <span class="password-toggle" onclick="toggleConfirmarSenha()">
                <img id="eyeIconConfirmarSenha" src="media/closed-eyes.png" alt="Toggle Confirmar Senha Visibility" />
              </span>
            </div>
            <br>
            <div class="input-group">
              <!-- <label for="imagem">Imagem de Perfil</label>
                <input
                  type="file"
                  id="imagem"
                  name="imagem"
                  accept="image/*"
                  required
                /> -->
              <label class="picture" for="picture__input" tabIndex="0">
                <span class="picture__image"></span>
              </label>
              <input type="file" name="imagem" id="picture__input">

            </div> <br>
            <div class="input-group w50">
              <button type="button" class="btn-login" onclick="enviarFormulario()">
                Finalizar Cadastro
              </button>
            </div>
        </div>


        </form>
      </div>
    </div>
  </div>

  <div id="bottom-bar"></div>
  </div>

  <script>
    verificarCampos();
    topBar();
    botaoResponsivo();
    bottomBar();
    carregarImagem();

    function verificarCampos() {
      // Reseta a cor dos campos
      document.querySelectorAll('.input-group input').forEach(input => {
        input.style.border = '';
      });

      let camposValidos = true;

      // Verifica se o campo Nome está preenchido
      const nomeInput = document.getElementById('nome');
      if (nomeInput.value.trim() === '') {
        nomeInput.style.border = '1px solid red';
        camposValidos = false;
      }

      // Verifica se o campo Email está preenchido e é um email válido
      const emailInput = document.getElementById('email');
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (emailInput.value.trim() === '' || !emailRegex.test(emailInput.value)) {
        emailInput.style.border = '1px solid red';
        camposValidos = false;
      }

      // Verifica se o campo Idade está preenchido e é um número válido
      const idadeInput = document.getElementById('idade');
      if (idadeInput.value.trim() === '' || isNaN(idadeInput.value) || idadeInput.value < 0) {
        idadeInput.style.border = '1px solid red';
        camposValidos = false;
      }

      // Verifica se o campo Senha está preenchido
      const senhaInput = document.getElementById('senha');
      if (senhaInput.value.trim() === '') {
        senhaInput.style.border = '1px solid red';
        camposValidos = false;
      }

      // Verifica se o campo Confirmar Senha coincide com o campo Senha
      const confirmarSenhaInput = document.getElementById('confirmarSenha');
      if (confirmarSenhaInput.value.trim() === '' || confirmarSenhaInput.value !== senhaInput.value) {
        confirmarSenhaInput.style.border = '1px solid red';
        camposValidos = false;
      }

      return camposValidos;
    }

    function enviarFormulario() {
      if (verificarCampos()) {
        // Envie o formulário
        document.getElementById('cadastroForm').submit();
      }
    }


  </script>
  <!-- <script src="../src/js/script-ours-pages.js" defer></script> -->
</body>

</html>