<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/categorias.css">
    <script src="js/funcoes.js"></script>

    <title>Categorias</title>
</head>

<body>

    <div id="container">
        <div id="top-bar"></div>

        <div id="content">

            <div id="Nome"><br><h1>Bolos</h1>

            </div>
            <div id="receitas">
                <div id="scrollcard"></div>
            </div>
            <hr>

            <div id="Nome"><br>Tortas

            </div>
            <div id="receitas">
                <div id="scrollcard"></div>
            </div>
            <hr>

            <div id="Nome"><br>Salgados

            </div>
            <div id="receitas">
                <div id="scrollcard"></div>
            </div>
            <hr>

            <div id="Nome"><br>Doces

            </div>
            <div id="receitas">
                <div id="scrollcard"></div>
            </div>
            <hr>

            <div id="Nome"><br>Massas

            </div>
            <div id="receitas">cards...</div>
            <hr>
            <div id="Nome"><br>Sobremesas

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Confeitaria

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Saladas

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Refeições

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Comidas Rápidas

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Carnes

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Sopas

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Farofas

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Bebidas

            </div>
            <div id="receitas">cards...</div>
            <hr>

            <div id="Nome"><br>Sorvetes

            </div>
            <div id="receitas">cards...</div>
            <hr>


        </div>

        <div id="bottom-bar"></div>
    </div>





    <script>
        topBar();
        botaoResponsivo();
        bottomBar();
        obterCards();
    </script>
</body>

</html>