<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/default.css" />
  <script src="js/funcoes.js"></script>

  <title>Senac</title>
</head>

<body>
  <div id="container">
    <div id="top-bar"></div>

    <div id="content">
      <div id="areaSearch"></div>
      <div id="cont-categorias"></div>
      <div id="txtcat"></div>

      <div id="scrollcard">
      </div>

      <div id="senac">
        <div id="fim">
          <div id="resenha">
            <a href="https://www.senac.br/" class="logo">
              <img src="media/senac_logo_branco.png" alt="" class="logo" />
            </a>
            <label for="" class="txt">
              Desde 1946, o Serviço Nacional de Aprendizagem Comercial – Senac
              é o principal agente de educação profissional voltado para o
              Comércio de Bens, Serviços e Turismo do País. Hoje, está
              presente em mais de 1.800 municípios, de Norte a Sul do Brasil,
              onde mantém infraestrutura de ponta composta por mais de 600
              unidades escolares, empresas pedagógicas e unidades móveis.
            </label>
          </div>
          <div id="cozinheira">
            <img src="media/chef.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div id="bottom-bar"></div>
  </div>

  <!-- <script src="js/script.js"></script> -->

  <script>
    topBar();
    botaoResponsivo();
    bottomBar();
    areaSearch();
    areaCategorias();
    verificarAutenticacaoOffline();
    // Chame a função para obter dados do usuário quando necessário
    obterCards();
  </script>
</body>

</html>