<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Página não encontrada</title>
    <link rel="stylesheet" href="css/default.css" />
    <script src="js/funcoes.js"></script>
    <link rel="stylesheet" href="css/notfound.css" />
  </head>
  <body>
    <div id="container">
      <div id="top-bar"></div>
      <div id="content" class="content">
        <h1>404 - Página não encontrada</h1>
        <img
          src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png"
          alt="Página não encontrada"
        />
        <p>
          A página que você está procurando não foi encontrada. Por favor,
          verifique o URL e tente novamente.
        </p>
        <a href="/">Voltar para a página inicial</a>
      </div>

      <div id="bottom-bar"></div>
    </div>

    <script>
      topBar();
      botaoResponsivo();
      bottomBar();
      verificarAutenticacaoOffline();
    </script>
  </body>
</html>
