<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/default.css" />
    <script src="js/funcoes.js"></script>
    <!-- <script>verificarAutenticacao();</script> -->
    <title>Recuperar-senha</title>
  </head>
  <body>
    <div id="container">
      <div id="top-bar"></div>

      <div id="content"  class="recuperar-senha">
        <div id="cont-recuperar">
          <a href="https://www.senac.br/" class="logo">
            <img
              src="media/1200px-Senac_logo.svg.png"
              alt=""
              class="logo"
            />
          </a>

          <div>
            <label for="" id="txt-box"> Nova Senha </label>
            <div id="pwd">
              <input type="password" placeholder="   *********" />
              <img src="" alt="" />
            </div>
          </div>
          <div>
            <label for="" id="txt-box"> Confirme a Nova Senha </label>

            <div id="pwd">
              <input type="password" placeholder="   *********" />
              <img src="" alt="" />
            </div>
          </div>
          <button class="btn-card">Salvar</button>
        </div>
      </div>

      <div id="bottom-bar"></div>

    </div>

    <!-- <script src="../src/js/script-ours-pages.js"></script> -->
    <script>
      topBar();
      botaoResponsivo();
      bottomBar();
  </script>
  </body>
</html>
