<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/default.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="js/funcoes.js"></script>

  <title>Receita</title>
</head>

<body>
  <div id="container">
    <div id="top-bar"></div>

    <div id="content">
      <div class="conteudo">
        <h1 class="titulo-receita"><br /></h1>
      </div>

      <div id="atualizar"></div>

      <div class="cardis">
        <div class="banner">
          <img src="" alt="" style="height: 250px" id="img" />

        </div>

        <div class="descricao">
          <a target="_blank" class="chef" onclick="ga('send', 'event', 'author', 'clic-author',)"></a>
          <div class="lp"></div>
          <!-- <p>A lasanha tradicional é um prato clássico da culinária italiana que conquista paladares com suas camadas de
            massa intercaladas com molho de carne, queijo, presunto e molho de tomate. Essa receita é um verdadeiro de</p> -->
        </div>
        <div div="data-publicacao" onload="carregar()">

        </div>
      </div>

      <div class="cardis">
        <div class="iup">
          <h1>Ingredientes</h1>
        </div>
        <div class="oia">
          <img alt="" src="media/icone.png" width="50px" />
          <h4 id="porcoes"></h4>
        </div>
        <div class="ll">
          <ul id="ingredientes"></ul>
        </div>
      </div>
      <div class="cardis">
        <div class="iup">
          <h1>Modo de preparo</h1>
        </div>
        <div class="pl">
          <img alt="" src="media/relogio.png" width="60px" />
          <h4 style="margin-left: 5px" id="tempo"></h4>
        </div>
        <div class="op">
          <ol id="modo"></ol>
        </div>
      </div>
      <br />
      <section class="cate-section">
        <div id="deletarReceita"></div>

        <header>
          <h1>Categorias Relacionadas</h1>
        </header>

        <div id="cont-categorias"></div>
        <br />
        <h1 style="font-size: 25px">- Você também pode gostar -</h1>
        <div id="txtcat"></div>
        <div id="scrollcard"></div>
      </section>
      

  <script>
    topBar();
    botaoResponsivo();
    bottomBar();
    verificarAutenticacaoOffline();
    mostrarReceita();
    obterCards();
    areaCategorias();
    areaSearch();
  </script>
</body>

</html>