<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/funcoes.js"></script>

    <title>Receita</title>
  </head>

  <body>
    <div id="container">
      <div id="top-bar"></div>

      <div id="content">
        <div class="conteudo">
          <h1 class="titulo-receita"><br /></h1>
        </div>

        <div id="atualizar"></div>

        <div class="cardis">
          <div class="banner">
            <img src="" alt="" style="height: 250px" id="img" />
            <span style="color: yellow">&#9733;</span>
            <span style="color: yellow">&#9733;</span>
            <span style="color: yellow">&#9733;</span>
            <span style="color: yellow">&#9733;</span>
            <span style="color: yellow">&#9733;</span>
            <h3 style="color: black; margin-top: 0px">(4)</h3>
          </div>

          <div class="descricao">
            <a
              target="_blank"
              class="chef"
              onclick="ga('send', 'event', 'author', 'clic-author',)"
            ></a>
            <div class="lp"></div>
            <!-- <p>A lasanha tradicional é um prato clássico da culinária italiana que conquista paladares com suas camadas de
            massa intercaladas com molho de carne, queijo, presunto e molho de tomate. Essa receita é um verdadeiro de</p> -->
          </div>
        </div>

        <div class="cardis">
          <div class="iup">
            <h1>Ingredientes</h1>
          </div>
          <div class="oia">
            <img alt="" src="media/icone.png" width="50px" />
            <h4 id="porcoes"></h4>
          </div>
          <div class="ll">
            <ul id="ingredientes"></ul>
          </div>
        </div>
        <div class="cardis">
          <div class="iup">
            <h1>Modo de preparo</h1>
          </div>
          <div class="pl">
            <img alt="" src="media/relogio.png" width="60px" />
            <h4 style="margin-left: 5px" id="tempo"></h4>
          </div>
          <div class="op">
            <ol id="modo"></ol>
          </div>
        </div>
        <br />
        <section class="cate-section">
          <div id="deletarReceita"></div>

          <header>
            <h1>Categorias Relacionadas</h1>
          </header>

          <div id="cont-categorias"></div>
          <br />
          <h1 style="font-size: 25px">- Você também pode gostar -</h1>
          <div id="scrollcard"></div>
        </section>
        <!-- <div class="cardis">

        <div class="cl">
          <h1>Comentários e avaliações</h1>
          <h3 style="color:#11527e ; margin-left: 20px; font: 14px Rubik, sans-serif;">Avalie esta receita*</h3>

          <div class="mov">
            <ul class="avaliacao">
              <li class="star-icon ativo" data-avaliacao="1"></li>
              <li class="star-icon" data-avaliacao="2"></li>
              <li class="star-icon" data-avaliacao="3"></li>
              <li class="star-icon" data-avaliacao="4"></li>
              <li class="star-icon" data-avaliacao="5"></li>
            </ul>
          </div>

          <h3 style="color:#11527e ; margin-left: 20px; font: 14px Rubik, sans-serif;">Comentário* </h3>

          <div class="que">
            <textarea placeholder="O que você achou da receita?(Opcional)" id="" cols="40" rows="8"></textarea>

            <button class="recipe_button" type="button" data-componentname="button" data-componentview="button">
              <span class="button_label">Adicionar comentário</span>
            </button>
          </div>

          <div class="hd">
            <div class="id" style="margin-bottom: 4rem;">
              <div class="jd">
                <div class="kd">
                  <div class="Id">
                    <h3>Ana Célia Farias</h3>
                    <span>14/06/2023</span>
                    <p style="margin-bottom: 0px; margin-right: 2rem;">Gostei muito, arrasou!</p>

                    <h3>Patrícia Lima</h3>
                    <span>23/06/2023</span>
                    <p style="margin-bottom: 0px; margin-right: 2rem;">Muito boa</p>

                    <h3>Lucas Macedo</h3>
                    <span>01/07/2023</span>
                    <p style="margin-bottom: 0px; margin-right: 2rem;">Aaffff, incrivel</p>

                    <h3>Letícia Silva Sousa</h3>
                    <span>17/08/2023</span>
                    <p style="margin-bottom: 0px; margin-right: 2rem;">Vou fazer outras vezes!!!</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="recipe_button" type="button" data-componentname="button" data-componentview="button">
              <span class="button_label" style="margin-left: 2px;">Ver mais comentários</span>
            </button>
          </div>
        </div>
      </div> -->
      </div>

      <div id="bottom-bar"></div>
    </div>

    <script>
      var stars = document.querySelectorAll(".star-icon");

      document.addEventListener("click", function (e) {
        var classStar = e.target.classList;
        if (!classStar.contains("ativo")) {
          stars.forEach(function (star) {
            star.classList.remove("ativo");
          });
          classStar.add("ativo");
          console.log(e.target.getAttribute("data-avaliacao"));
        }
      });
    </script>

    <!-- <script src="../src/js/script-ours-pages.js"></script> -->

    <script defer>
      topBar();
      botaoResponsivo();
      bottomBar();
      verificarAutenticacaoOffline();
      mostrarReceita();
      obterCards();
      areaCategorias();
    </script>
  </body>
</html>
