#content {

    background-color: #f2f2f2;
}

#cadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#receitaForm {
    padding: 10mm;
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: space-around;
    align-items: center;

}

#quadrado1 {
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50mm;
    padding: 10mm;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.45);
}


#quadIngre {
    margin-top: 10mm;
    width: 80%;
    border-radius: 10px;
    padding: 10mm;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.45);
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-left: 40mm;
    margin-right: 40mm;
    font-size: 25pt;
    font-weight: bold;
    font-family: sans-serif, Arial, 'Franklin Gothic Medium', 'Arial Narrow';
}

.box {
    width: 100%;
}

h1 {
    font-size: 40pt;
}

.txt {
    font-size: 30pt;
    color: black;
    font-family: sans-serif, Arial, 'Franklin Gothic Medium', 'Arial Narrow';

}

input,
textarea {
    width: 500px;
    height: 50px;
    font-size: Large;
    font-weight: bold;
    border-radius: 10px;
}

#modoDePreparo {
    margin-top: 10mm;
    width: 80%;
    border-radius: 10px;
    padding: 10mm;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 17px 9px rgba(0, 0, 0, 0.45);
}

#categorias{
    padding: 10mm;
    width: 80%;
    margin-top: 10mm;
}