.chefe {
    width: 100%;
    height: 400px;
    background: url("../media/image 12.png") no-repeat center center;
    background-size: cover;
}

.content {
    /* height: auto;
    width:; */
    display: flex;
    align-items: center;
}

#chef-avatar {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    margin-top: calc(-190px - 2mm);
}

/* .chefe-avatar {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: aquamarine;
    margin-top: calc(-45px - 2mm);
} */

.nome {
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: 00488a;
    color: aliceblue;
    border-radius: 15px;
}

#historico {
    display: flex;
    flex-direction: column;
    font-size: 25pt;
    margin-top: 5mm;
    width: 80%;
    height: auto;
    background-color: antiquewhite;
    align-items: center;
    border-radius: 10px;
}

#scrol-receitas {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;



    overflow-x: auto;
    /* overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap; */
}

.receitas {
    align-items: center;
    border-radius: 10px;
    margin: 2mm;
    width: 100px;
    height: 200px;
    background-color: rgb(231, 133, 14);
    flex-shrink: 0;
}

#cont-categorias {
    margin-top: 10mm;
    width: 100%;
}


.receitas-recentes {
    margin-top: 10mm;
    font-size: 30pt;
    display: flex;
}

::-webkit-scrollbar{
    width: 0px;
}